page-secondpage {

    img{
        width:40%;
        margin-left:29%;
    }

    h1{
        text-transform: uppercase;
    }

    #main{
        background-image: url("../../assets/imgs/weather.jpg");
    }

    #box{
        margin-top: 45%;
    }

}
